.categories
  %h1 ABOUT
.glass#about
  %span
    I am a junior level web developer with a background in the museums and heritage industry, having retrained earlier this year through General Assembly London's

    %a{href: 'https://generalassemb.ly/education/web-development-immersive', :target => "_blank"}
      Web Development Immersive

    program. I am passionate about being involved in the tech community and I especially enjoy coding with others and learning from more experienced colleagues and developers. I am currently working as a developer at

    %a{href:'http://www.frontdigital.com', :target => "_blank"}
      Front Digital.

    Please visit my blog,

    %a{href:'http://therakishradish.wordpress.com', :target => "_blank"}
      The Rakish Radish

    to learn more about my transition from historical researcher to web developer.

