%h1 CONTACT
.glass.contact
  %a{href: "mailto:asrkennedy@gmail.com",  :target => "_blank"} Email

  %a{href: 'https://github.com/asrkennedy',  :target => "_blank"} Github

  %a{href: 'http://uk.linkedin.com/pub/andrea-kennedy/25/801/879',  :target => "_blank"} LinkedIn

  %a{href: 'http://therakishradish.wordpress.com',  :target => "_blank"} Blog
