%h1 CONTACT
.glass#contact
  .contact_inner
    %a{href: "mailto:asrkennedy@gmail.com",  :target => "_blank"} Email
  .contact_inner
    %a{href: 'https://github.com/asrkennedy',  :target => "_blank"} Github
  .contact_inner
    %a{href: 'http://uk.linkedin.com/pub/andrea-kennedy/25/801/879',  :target => "_blank"} LinkedIn
  .contact_inner
    %a{href: 'http://therakishradish.wordpress.com',  :target => "_blank"} Blog
