%h1
  PROJECTS
.glass.projects
  %a{href:'http://www.arcader.heroku.com'} ARCADER
  %br
  %a{href:'http://www.arcader.heroku.com'}
    %img{:src=> ('/images/Arcader.png')}

.glass.projects
  %a{href:'http://www.unifi.heroku.com'} UNIFI
  %br
  %a{href:'http://www.unifi.heroku.com'}
    %img{:src=> ('/images/UNIFI.png')}

.glass.projects
  %a{href:'http://www.ehxe.it'} EHXE
  %br
  %a{href:'http://www.ehxe.it'}
    %img{:src=> ('/images/EHXE.png')}

.glass.projects
  %a{href:'http://wdi-june-13-london.github.io'} YEARBOOK
  %br
  %a{href:'http://wdi-june-13-london.github.io'}
    %img{:src=> ('/images/Yearbook.png')}