%h1 SKILLS
.glass.skills
  %ul
    %title Development Experience
    %li Ruby, Rails, Sinatra, Gems, APIs, Regex
    %li Javascript, JQuery, Coffeescript, JSON, AJAX,
    %li CSS3, HTML5, Haml, Slim, Sass, Less
    %li TDD, Rspec, Jasmine
    %li MySql, Postgresql, Git, Heroku, pair programming
    %li Some knowledge of Adobe InDesign and Photoshop
    %li Some exposure to NoSql and Ember