.categories
  %h1 SKILLS
.glass#skills
  %ul
    %title Development Experience
    %li Ruby, Rails, Sinatra, Gems, APIs, Middleman
    %li Javascript, JQuery, Coffeescript, JSON, AJAX,
    %li CSS3, HTML5, Haml, Slim, Sass, Less
    %li TDD, Rspec, Jasmine
    %li MySql, Postgresql, Git, Heroku, pair programming
    %li Responsive and UX design
    %li Some Adobe InDesign and Photoshop
