!!!
%html
  %head
    %title AK DEV
    %link{ rel: "apple-touch-icon", sizes: "144x144", href: "apple-touch-icon-144x144-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "114x114", href: "apple-touch-icon-114x114-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "72x72", href: "apple-touch-icon-72x72-precomposed.png" }
    %link{ rel: "apple-touch-icon", href: "apple-touch-icon-precomposed.png" }
    %link{ rel: "shortcut icon", href: "favicon.png" }
    %link{ rel: "icon", type: "image/ico", href: "favicon.ico" }
    = stylesheet_link_tag "/stylesheets/stylesheet"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Questrial'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Raleway'
    %script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{:src => "/javascripts/all.js"}
%body
  .container
    #content
    = partial "/layouts/partials/nav"
    %header#home
      %h1 Andrea Kennedy
      .subheader Web Developer and Designer
