!!!
%html
  %head
    %title AK DEV
    = stylesheet_link_tag "/stylesheets/stylesheet"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Questrial'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Raleway'
    %script{:src=>"//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{:src => "/javascripts/all.js"}
%body
  .container
    #content
    = partial "/layouts/partials/nav"
    %header#home
      %h1 Andrea Kennedy
      .subheader Web Developer and Designer
